<a href="https://colab.research.google.com/github/AlexPardo19/Python-Prep/blob/main/tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#una tupla es inmutable
#una lista es mutable

tupla = ("string",10,15.4,False,[1,2,3],(4,5,6))
print(tupla)
print(tupla[0])
print(tupla[5])
print(tupla[5][0])

('string', 10, 15.4, False, [1, 2, 3], (4, 5, 6))
string
(4, 5, 6)
4

In [16]:
cursos= ("phyton","flask", "django","react","rails")

primer_curso = cursos[0]
primer_curso1 = cursos[-1]
print(primer_curso)
print(primer_curso1)
print(cursos)

sub_tupla = cursos[0:3]
print(sub_tupla)

phyton
rails
('phyton', 'flask', 'django', 'react', 'rails')
('phyton', 'flask', 'django')

In [20]:
cursos=["phyton","flask", "django"]
cursos_t=tuple(cursos)
print(cursos_t)
print(type(cursos_t))
niveles=("basico","intermedio","avanzado")

niv_lista=list(niveles)
print(niv_lista)
print(type(niv_lista))

('phyton', 'flask', 'django')
<class 'tuple'>
['basico', 'intermedio', 'avanzado']
<class 'list'>

In [24]:
#desempaquetado
#asigna valores con la tupla
numeros=(1,2,3,4,5,6,7,8,9,10)
#* como prefijo indica que los elementos restantes se le asignaran a una variable en forma de lista
# *_ indica que no se toma en cuenta el resto de valores
uno,dos,tres,cuatro, *_,nueve,diez=numeros
print(uno)
print(dos)
print(tres)
print(cuatro)
print(nueve)
print(diez)

1
2
3
4
9
10

In [27]:
#obtener el numero 1,3,4 y 10
#_ omite un valor
numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
uno, _ , tres, cuatro, *_  , diez = numeros
print(uno)
print(tres)
print(cuatro)
print(diez)

1
3
4
10

In [33]:
lista=[1,2,3,4,5]
tupla=(10,20,30,40,50)

lista_2=[100,200,300,400,500]
tupla2=(1000,2000,3000,4000,5000)
#si hay elementos restantes no se toman en cuenta y se omiten, siempre tendran la misma longitud
#zip combina valores
rest=zip(lista,tupla,lista_2,tupla2)
rest=tuple(rest)
print(rest)

((1, 10, 100, 1000), (2, 20, 200, 2000), (3, 30, 300, 3000), (4, 40, 400, 4000), (5, 50, 500, 5000))